/* Background settings of main page*/
body {
            background-color: #FFFFFF;
            margin-left: 10%;
            margin-top: 100px;
            margin-right: 10%;
            margin-bottom: 100px; 
}

/* Heading Yoana Dotina settings + headings of all other pages */
h1 {
    text-align-last: center;
            font-size: 60px;
            color: #000;
            margin-bottom: 0px;
            font-family: Monaco, monospace;

}

/*Heading junior UX designer settings*/
h2 {
    text-align-last: center;
            font-size: 30px;
            color: #08E055;
            margin-top: 0px;
            margin-left: 5px;
            font-family: Monaco, monospace;
}

/* My experiences columns heading */
h3 {
    font-size: 30px;
    font-family: Monaco, monospace;
    text-align: center;
}

/* Describing text about me on the landing page */
.aboutme {
    text-align:center;
    font-family: Monaco, monospace;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 300px; 
    margin-right: 300px; 

}

/* Formatting of all the containers */
.cv {
    background-color: #08E055;
    margin-left: 10px;
    margin-top: 50px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    

}

/* Hovering of containers */
.cv:hover {
    background-color:#11823a;
}

/* Formatting text in containers */
p1 {
    font-family: Monaco, monospace;
    font-size: 25px;
    color: black;
}

/* Formatting text in additional pages */
.format {
    margin-right: 40px;
    margin-left: 40px;
    text-align: justify;
    line-height: 1.6;
    font-family: Monaco, monospace;
}

/* Picture formatting */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}
